 <div style="max-width: 350px;min-width: 300px;">
        <div (click)="tr(id)" class="team-boxrec" >
                <div>
                        <img src="{{image_path}}" style="width: 100%" alt="">
                </div>

                <div>
                    <strong><h4>{{recipe_name}}</h4></strong>
                    <div style="margin-top: -18px">
                         
                    </div>
                </div>



                <div class="row" style="margin-top: -10px;">
                    <div class="col-sm-4" style=" color: #78C257">
                        <strong>{{id}}</strong>
                    </div>
                      <div class="col-sm-4">
                          <span class="lnr lnr-star" ></span><b> {{rating_value}}</b>
        
                      
                    </div>
                         <div class="col-sm-4">
                          <strong>{{duration}} hr</strong>
        
                      
                    </div>
                      
                </div>


                <div class="row" >
                    <div class="col-sm-6">
                        <strong><img src="https://img.icons8.com/color/28/000000/user-group-man-woman.png"> {{serve}}</strong>
                    
                    </div>
                    <div class="col-sm-6">
                      <b class="position" style="font-size: 14px;">{{published_on}}</b>
                    </div>

                </div> 
        </div>
</div>