<!-- About-Area -->
        <!-- here will be trending recpie cards-->
        <section class="section-padding" id="about_page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <div class="page-title text-center">
                                <img src="../../assets/homecomponentassets/images/about-logo.png" alt="About Logo">
                                <div class="space-20"></div>
                                <h5 class="title">About Cookify</h5>
                                <div class="space-30"></div>
                                <h3 class="red-color">Cookify helps you to know and build a delicious unique recipe and also connects you with world popular chef. </h3>
                                <div class="space-20"></div>
                                <p>Remarkable frozen ready meals, prepared by our own chefs and delivered to your door via our nationwide delivery service. Or discover your local COOK shop!.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
            
            <!-- About-Area-End -->