<!-- Feature-Area -->
<section class="login-area section-padding-top" id="features_page" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title text-center"  style="text-align: right">
                        <h5 class="title">Login</h5>
                        <div class="space-10"></div>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="hidden-xs hidden-sm col-md-4" >
                    <figure class="mobile-image" style="width: 60%;margin:auto">
                        <img  src="../../assets/homecomponentassets/images/header-mobile.png" alt="Feature Photo">
                    </figure>
                </div>

                 <div class="col-md-8" >
                    <!--write the input field code here also check the colsize you want-->
                   
                </div>





        </div>




        </div>
    </section>
    <!-- Feature-Area-End -->